body{
    background-image: url(../pexels.jpeg);
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.25;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    background-repeat: no-repeat;
    margin:auto;
}

.image{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 25%;
  transition: transform .2s;
}

.image:hover {
    transform: scale(1.5); 
  }

.name{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:40px;
    font-weight: bold;
    font-style: italic;
    color:white;
    margin-left: 500px;
}

.link-items1{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    color: black;
    text-align: left;
    margin-left: 10px;
}

.link-items2{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-align: left;
    margin-left: 50px;
}

#im{
    position: relative;
    width:45px;
    margin-left: 50px;
    margin-bottom: auto;
    
 
}

.link-items3{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-align: left;
    margin-left: 5px;
    bottom: -5px;  
}

#im2{
    position: relative;
    width:45px;
    margin-left: 50px;
    margin-bottom: auto;
}

.link-items4{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    margin-left: 5px;
    bottom: -5px;
}

#im3{
    position: relative;
    margin-left: 50px;
    width:40px;
    margin-bottom: auto;
}

.link-items5{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    margin-left: 10px;
    bottom: -5px;    
}

#im4{
    position: relative;
    width:40px;
    margin-left: 50px;
    margin-bottom: auto;
}

#link-items6{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    color: black;
    margin-left: 10px;
    overflow: scroll;
}

.page2{
    position: relative;
    margin-left: 1150px;
    top: -450px;
}

.footer {
    display: flex;
    background-color:white;
    opacity: 0.7;
    margin-top: 70px;
    height: 50px;
    flex-direction: row;
    padding: 8px;
  }

 .on{
     cursor: pointer;
     position: relative;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: bolder;
     font-style: italic;
     margin-left: 10px;
     bottom: -5px;
 } 

.abc{
    transition: transform .2s;
}
 
.abc:hover {
    transform: scale(1.5); 
  }
